.video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
transform: translate(-50%, -50%);
}

.subtitle{
  color: gray;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 2px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.glow-text {
  padding: 12px 48px;
  font-size: 64px;
  font-weight: 600;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: transparent;

  background: linear-gradient(
    to right,
    #9f9f9f 0%,
    #ffffff 20%,
    #9f9f9f 40%,
    #ffffff 60%,
    #9f9f9f 80%,
    #ffffff 100%
  );

  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 4s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

.loader {   
  top: 60%;
  left: 48%;
  width: 84px;
  height: 84px;
  position: absolute;
  z-index: 2;
}

.loader:before , .loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #FFF;
  transform: translate(-50% , -100%)  scale(0);
  animation: push_401 2s infinite linear;
}

.loader:after {
  animation-delay: 1s;
}

@keyframes push_401 {
  0% , 50% {
    transform: translate(-50% , 0%)  scale(1)
  }

  100% {
    transform: translate(-50%, -100%) scale(0)
  }
}

ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}

.example-2 .icon-content a[data-social="cv"] .filled,
.example-2 .icon-content a[data-social="cv"] ~ .tooltip {
  background-color: #28a745; 
}


.card {
 position: absolute;
  top: 150%;
  left: 38%;
  transform: translateX(-50%);
  z-index: 5;

  width: 25em;
  background: transparent; 
  border: 2px solid #ffffff;         
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;

  transition: 1s ease-in-out;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);

  display: flex;
  flex-direction: column;
  padding: 1em;
  box-sizing: border-box;
  backdrop-filter: none;

  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.card.visible {
  opacity: 1;
  transform: translateY(0);
}

.card span {
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  font-size: 1.2em; 
  margin-top: 0.5em;
}

.card .info {
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 0.9em; 
  margin: 1em 0;
  line-height: 1.5em;
    font-family: "Poppins", sans-serif;

}

.porfile-img {
  width: 7em;
  height: 7em;
  background: white;
  border-radius: 15px;
  margin: auto;
}

.Aboutme {
  position: absolute;
  z-index: 5;
  top: 120%;
  left: 39%;
  padding: 12px 48px;
  font-size: 64px;
  font-weight: 600;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: transparent;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;

  background: linear-gradient(
    to right,
    #9f9f9f 0%,
    #ffffff 20%,
    #9f9f9f 40%,
    #ffffff 60%,
    #9f9f9f 80%,
    #ffffff 100%
  );

  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 4s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

.Aboutme.visible {
  opacity: 1;
  transform: translateY(0);
}

.Projects {
  position: absolute;
  z-index: 5;
  top: 260%;
  left: 34%;
  padding: 12px 48px;
  font-size: 64px;
  font-weight: 600;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: transparent;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;

  background: linear-gradient(
    to right,
    #9f9f9f 0%,
    #ffffff 20%,
    #9f9f9f 40%,
    #ffffff 60%,
    #9f9f9f 80%,
    #ffffff 100%
  );

  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 4s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

.Projects.visible {
  opacity: 1;
  transform: translateY(0);
}

.card1 {
  position: absolute;
  top: 300%;
  left: 20%;
  width: 300px;
  background: transparent;
  border: 2px solid #fff;
  box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.333);
  border-radius: 10px;
  padding-bottom: 10px;
  z-index: 5;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.imge {
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.imge .Usericon {
  background-color: #414141;
  width: 120px;
  height: 100px;
  border-radius: 15px;
  border: 2px solid white;
}

.Description {
  background: transparent;
  transform: translate(5px, 10px);
  width: 90%;
  height: 190px;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.9rem;
  color: #eaeaea;
  line-height: 1.4;
  overflow-y: auto;
  z-index: 5;
}

.social-media {
  text-align: center;
  margin-top: 15px;
}

.social-media a {
  text-decoration: none;
  color: #fcfcfc;
}

.social-media a svg {
  width: 30px;
  height: 30px;
  fill: currentColor;
}

.card1.visible{
    opacity: 1;
    transform: translateY(0);
}


.card2 {
  position: absolute;
  top: 0%;
  left: 210%;
  width: 300px;
  background: transparent;
  border: 2px solid #fff;
  box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.333);
  border-radius: 10px;
  padding-bottom: 10px;
  z-index: 5;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.imge2 {
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.imge .Usericon {
  background-color: #414141;
  width: 120px;
  height: 100px;
  border-radius: 15px;
  border: 2px solid white;
}

.Description2 {
  background: transparent;
  transform: translate(5px, 10px);
  width: 90%;
  height: 190px;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.9rem;
  color: #eaeaea;
  line-height: 1.4;
  overflow-y: auto;
  z-index: 5;
}

.social-media2 {
  text-align: center;
  margin-top: 15px;
}

.social-media2 a {
  text-decoration: none;
  color: #fcfcfc;
}

.social-media2 a svg {
  width: 30px;
  height: 30px;
  fill: currentColor;
}

.card2.visible{
    opacity: 1;
    transform: translateY(0);
}


.card3 {
  position: absolute;
  top: 130%;
  left: -211%;
  width: 300px;
  background: transparent;
  border: 2px solid #fff;
  box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.333);
  border-radius: 10px;
  padding-bottom: 10px;
  z-index: 5;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.imge3 {
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.imge .Usericon {
  background-color: #414141;
  width: 120px;
  height: 100px;
  border-radius: 15px;
  border: 2px solid white;
}

.Description3 {
  background: transparent;
  transform: translate(5px, 10px);
  width: 90%;
  height: 190px;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.9rem;
  color: #eaeaea;
  line-height: 1.4;
  overflow-y: auto;
  z-index: 5;
}

.social-media3 {
  text-align: center;
  margin-top: 15px;
}

.social-media3 a {
  text-decoration: none;
  color: #fcfcfc;
}

.social-media3 a svg {
  width: 30px;
  height: 30px;
  fill: currentColor;
}

.card3.visible{
    opacity: 1;
    transform: translateY(0);
}



.card4 {
  position: absolute;
  top: 0%;
  left: 210%;
  width: 300px;
  background: transparent;
  border: 2px solid #fff;
  box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.333);
  border-radius: 10px;
  padding-bottom: 10px;
  z-index: 5;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.imge4 {
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.imge .Usericon {
  background-color: #414141;
  width: 120px;
  height: 100px;
  border-radius: 15px;
  border: 2px solid white;
}

.Description4 {
  background: transparent;
  transform: translate(5px, 10px);
  width: 90%;
  height: 190px;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.9rem;
  color: #eaeaea;
  line-height: 1.4;
  overflow-y: auto;
  z-index: 5;
}

.social-media4 {
  text-align: center;
  margin-top: 15px;
}

.social-media4 a {
  text-decoration: none;
  color: #fcfcfc;
}

.social-media4 a svg {
  width: 30px;
  height: 30px;
  fill: currentColor;
}

.card4.visible{
    opacity: 1;
    transform: translateY(0);
}



.Habilidades {
  position: absolute;
  z-index: 5;
  top: 150%;
  left: -129%;
  padding: 12px 48px;
  font-size: 64px;
  font-weight: 600;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: transparent;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;

  background: linear-gradient(
    to right,
    #9f9f9f 0%,
    #ffffff 20%,
    #9f9f9f 40%,
    #ffffff 60%,
    #9f9f9f 80%,
    #ffffff 100%
  );

  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 4s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

.Habilidades.visible {
  opacity: 1;
  transform: translateY(0);
}


.cardapp {
  background: transparent;
  border: 3px solid #f7df1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 30px 40px;
  color: #f7df1e;
  border-radius: 45px;
  position: absolute;
  z-index: 5;
  top: 220%;
  left: -300%;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.App-logo {
  pointer-events: none;
  width: 120px;
  margin-bottom: 20px;
}

.cardapp.visible {
  opacity: 1;
  transform: translateY(0);
}

.cardapp2 {
  background: transparent;
  border: 3px solid #1e3bf7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 30px 40px;
  color: #1e3bf7;
  border-radius: 45px;
  position: absolute;
  z-index: 5;
  top: 220%;
  left: -100%;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.App-logo2 {
  pointer-events: none;
  width: 120px;
  margin-bottom: 20px;
}

.cardapp2.visible {
  opacity: 1;
  transform: translateY(0);
}

.cardapp3 {
  background: transparent;
  border: 3px solid #f7781e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 30px 40px;
  color: #f7781e;
  border-radius: 45px;
  position: absolute;
  z-index: 5;
  top: 220%;
  left: -200%;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.App-logo3 {
  pointer-events: none;
  width: 120px;
  margin-bottom: 20px;
}

.cardapp3.visible {
  opacity: 1;
  transform: translateY(0);
}

.cardapp4 {
  background: transparent;
  border: 3px solid #1eecf7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 30px 40px;
  color: #1eecf7;
  border-radius: 45px;
  position: absolute;
  z-index: 5;
  top: 220%;
  left: 0%;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.App-logo4 {
  pointer-events: none;
  width: 120px;
  margin-bottom: 20px;
}

.cardapp4.visible {
  opacity: 1;
  transform: translateY(0);
}

.cardapp5 {
  background: transparent;
  border: 3px solid #387EB8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 30px 40px;
  color: #FFE052;
  border-radius: 45px;
  position: absolute;
  z-index: 5;
  top: 220%;
  left: 100%;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.App-logo5 {
  pointer-events: none;
  width: 120px;
  margin-bottom: 20px;
}

.cardapp5.visible {
  opacity: 1;
  transform: translateY(0);
}

.cardapp6 {
  background: transparent;
  border: 3px solid #1ef742;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 30px 40px;
  color: #1ef742;
  border-radius: 45px;
  position: absolute;
  z-index: 5;
  top: 300%;
  left: -150%;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.App-logo6 {
  pointer-events: none;
  width: 120px;
  margin-bottom: 20px;
}

.cardapp6.visible {
  opacity: 1;
  transform: translateY(0);
}

.cardapp7 {
  background: transparent;
  border: 3px solid #1e6ef7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 30px 40px;
  color: #1e6ef7;
  border-radius: 45px;
  position: absolute;
  z-index: 5;
  top: 300%;
  left: -50%;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.App-logo7 {
  pointer-events: none;
  width: 120px;
  margin-bottom: 20px;
}

.cardapp7.visible {
  opacity: 1;
  transform: translateY(0);
}

.contacto {
  position: absolute;
  z-index: 5;
  top: 450%;
  left: -129%;
  padding: 12px 48px;
  font-size: 64px;
  font-weight: 600;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: transparent;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;

  background: linear-gradient(
    to right,
    #9f9f9f 0%,
    #ffffff 20%,
    #9f9f9f 40%,
    #ffffff 60%,
    #9f9f9f 80%,
    #ffffff 100%
  );

  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 4s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

.contacto.visible {
  opacity: 1;
  transform: translateY(0);
}

.form-container {
    width: 400px;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  position: absolute;
  top: 510%;
  left: -40%;
  background-color: transparent; 
  border: 2px solid; 
  border-image: linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) 1;
  
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #e81cff;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 5px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 5px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 2px solid #fbfbfb;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #131313;
  border: 1px solid #e81cff;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}



.glass-contact-card {
  max-width: 320px;
  margin: auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgb(255, 254, 254);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  text-align: center;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  position: absolute;
  top: 500%;
  left: -200%;
}

.glass-profile-img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 3px solid #ffffff;
}

.glass-contact-name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.glass-contact-role {
  font-size: 1rem;
  color: #ddd;
  margin-bottom: 1rem;
}

.glass-contact-info {
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
}

.glass-contact-info p {
  margin: 0.3rem 0;
}

.glass-contact-btn {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background: #ffc107;
  color: #1f1f1f;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}


